body {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    background-color: steelblue;

}

h1 {
    font-family: sans-serif;
    font-size: 36px;
    text-align: center;
}

button {
   font-size: 20px; 
}

.textBox {
    font-size: 20px;
}
