body {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    background-color: rgb(35, 126, 200);

}
.resultsBox {
    background: black;
}

h1 {
    font-family: sans-serif;
    font-size: 36px;
    background-color: darkblue;
    text-align: center;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    color: greenyellow;
}
h2 {
    font-size: 24px;
    text-align: center;
}
button {
    display: inline-block;
    text-align: center;
    background-color: rgb(157, 228, 51);
    border: none;
    color: white;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }

    
#moneyPicker {
    display: inline-block;
    text-align: center;
    background-color: rgb(157, 228, 51);
    border: none;
    color: white;
    padding: 15px 12px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.radio-toolbar label {
    display: inline-block;
    justify-content: center;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border: 2px solid #444;
    border-radius: 4px;
}

.textBox {
    font-size: 24px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.title {
   font-size: 20px; 
   font-weight: bold;
}

.type {
    font-size: 18px;
}

.dateTime {
    font-size: 14px;
}

.location {
    font-size: 14px;
}

.price {
    font-size: 14px;
}

@media screen and (max-width: 480px) {
    .body {
        justify-content: center;
    }
    
    .h1 {
        font-size: 20px;
        justify-content: center;
        margin-right: 5px;
        margin-left: 5px;
    } 

    .button {
        padding: 5px 12px;
        font-size: 12px;
    }

    #moneyPicker {
        padding: 5px 12px;
        font-size: 10px ;
    }
    
    .radio-toolbar label {
        font-size: 16px;
        justify-content: center;
        padding: 5px 10px;
    }

    .radio-toolbar {
        justify-content: center;
        font-size: 16px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .textBox {
        justify-content: center;
        font-size: 14px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .title {
        font-size: 14px; 
        font-weight: bold;
        justify-content: center;
        margin-right: 5px;
        margin-left: 5px;
     }
     
     .type {
        font-size: 14px;
        justify-content: center;
        margin-right: 5px;
        margin-left: 5px;
     }
     
     .dateTime {
        font-size: 14px;
        justify-content: center;
        margin-right: 5px;
        margin-left: 5px;
     }
     
     .location {
        font-size: 14px;
        justify-content: center;
        margin-right: 5px;
        margin-left: 5px;
     }
     
     .price {
        font-size: 14px;
        justify-content: center;
        margin-right: 5px;
        margin-left: 5px;
     }
}